<div
  class="fixed top-0 left-0 h-full w-64 bg-[#EDEDED] border-r p-6
         z-50 transition-transform duration-300 ease-in-out transform
         -translate-x-full lg:translate-x-0" [class.translate-x-0]="isOpen$ | async">

  <!-- Logo -->
   <div class="mb-10 hidden lg:flex items-center space-x-4">
    <img src="logo2.png" alt="Black Pebble Studios" class="h-20 w-43 rounded-full" />
  </div>

  <!-- Sidebar Navigation -->
  <ul class="space-y-2 text-gray-700  font-bold text-base">
    <li routerLink="/super-admin/index" (click)="onNavigate()" class="hover:bg-gray-400 p-2 rounded cursor-pointer flex items-center space-x-3">
      <i class="fa-solid fa-house text-xl "></i>
      <span>Dashboard</span>
    </li>

  <li routerLink="/super-admin/rest-list" (click)="onNavigate()" class="hover:bg-gray-400 p-2 rounded cursor-pointer flex items-center space-x-3">
      <i class="fas fa-users text-xl"></i>  
      <span>User Management</span>
    </li>

    <!-- log out -->
      <li (click)="onLogout()" class="hover:bg-gray-400 p-2 rounded cursor-pointer flex items-center space-x-3">
        <i class="fas fa-right-from-bracket text-xl"></i>
      <span>Log Out</span>
    </li>

  </ul>
</div>
<div class="fixed inset-0 bg-opacity-50 z-40 lg:hidden"
     *ngIf="isOpen$ | async"
     (click)="closeSidebar()">
</div>
