<div class="flex flex-col min-h-screen bg-[#fefccf]">
  <app-navbar class="z-10"></app-navbar>
  <app-sidebar class="z-10"></app-sidebar>
  <main class="flex-1 lg:ml-64 p-6 overflow-y-auto bg-[#F2F2CB]">
      <div class="overflow-x-auto">
    <table
      class="w-full text-sm text-gray-700"
      style="border-collapse: separate; border-spacing: 0 6px; table-layout: fixed;"
    >
      <thead class="bg-gray-300 text-gray-800 font-semibold rounded-lg">
        <tr>
          <th class="px-2 py-5 break-words text-center">Table Number</th>
          <th class="px-2 py-5 break-words text-center">New Order</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let table of tableList"
            class="transition transform hover:scale-105 hover:shadow-lg duration-200 bg-white rounded-lg">
          <td class=" px-2 py-5 text-center">{{ table.tableNumber }}</td>
          <td class=" px-2 py-5 text-center">
            <button *ngIf="newOrdersCountMap[table.tableNumber] > 0"
                    [routerLink]="['/receive-order', table.tableNumber]"
                    class="text-green-600 text-2xl hover:text-green-800"
                    title="View Order">
              🛎️
            </button>
            <span *ngIf="!newOrdersCountMap[table.tableNumber] || newOrdersCountMap[table.tableNumber] === 0"
                  class="text-gray-400 italic">
              No new orders
            </span>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</main>
</div>