<div
  class="fixed top-0 left-0 h-full w-64 bg-[#EDEDED] border-r p-6
         z-50 transition-transform duration-300 ease-in-out transform
         -translate-x-full lg:translate-x-0" [class.translate-x-0]="isOpen$ | async">
  
  <!-- Logo -->
   <div class="mb-10 hidden lg:flex items-center space-x-4">
    <img src="logo2.png" alt="Black Pebble Studios" class="h-20 w-43 rounded-full" />
  </div>

<!-- Logo (mobile only) -->
<div class="mb-10 flex lg:hidden items-center justify-center">
  <img
    *ngIf="logoUrl$ | async as img"
    [src]="img"
    alt="Restaurant Logo"
    class="h-20 w-20 rounded-full object-cover shadow"
  />
</div>

  <!-- Sidebar Navigation -->
  <ul class="space-y-2 text-gray-700  font-bold text-base">

    <li routerLink="/admin/dashboard" (click)="onNavigate()" class="hover:bg-gray-400 p-2 rounded cursor-pointer flex items-center space-x-3">
      <i class="fa-solid fa-house text-xl "></i>
      <span>Dashboard</span>
    </li>

    <li routerLink="/admin/user-list" (click)="onNavigate()" class="hover:bg-gray-400 p-2 rounded cursor-pointer flex items-center space-x-3">
      <i class="fas fa-users text-xl"></i>  
      <span>User Management</span>
    </li>

    <!-- Inventory Dropdown -->
    <li>
      <div 
        (click)="toggleInventoryDropdown()" 
        class="flex justify-between items-center hover:bg-gray-400 p-2 rounded cursor-pointer"
      >
     <div class="flex items-center space-x-3">
          <i class="fas fa-list text-xl"></i>
          <span>Inventory</span>
        </div>
        <svg 
          [ngClass]="{ 'rotate-180': isInventoryDropdownOpen }"
          class="w-4 h-4 transition-transform"
          fill="none" stroke="currentColor" stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
        </svg>
      </div>

      <ul 
        class="ml-4 mt-2 space-y-1" 
        [class.hidden]="!isInventoryDropdownOpen"
      >
          <li (click)="onNavigate()" routerLink="/admin/product" class="hover:bg-gray-400 p-2 rounded cursor-pointer">
          Add Product</li>

        <li (click)="onNavigate()" routerLink="/admin/table-list" class="hover:bg-gray-400 p-2 rounded cursor-pointer">
          Add Table</li>

           <li (click)="onNavigate()" routerLink="/admin/category-list" class="hover:bg-gray-400 p-2 rounded cursor-pointer">
          Add Category</li>
      </ul>
    </li>

    <li routerLink="/admin/order" (click)="onNavigate()" class="hover:bg-gray-400 p-2 rounded cursor-pointer flex items-center space-x-3">
    <i class="fas fa-utensils text-xl"></i>
    <span>Order</span>
   </li>

    <!-- <li class="hover:bg-gray-400 p-2 rounded cursor-pointer">
     <a routerLink="/menu" routerLinkActive="bg-gray-300" class="block w-full h-full">
    <i class="fas fa-book-open text-xl"></i>     
     Menu
    </a>
    </li> -->
    
    <!-- report dropdown -->
     <li>
      <div 
        (click)="toggleReportDropdown()" 
        class="flex justify-between items-center hover:bg-gray-400 p-2 rounded cursor-pointer"
      >
     <div class="flex items-center space-x-2">
          <i class="fas fa-square-poll-vertical text-xl"></i>
          <span>Reports</span>
        </div>
        <svg 
          [ngClass]="{ 'rotate-180': isReportDropdownOpen }"
          class="w-4 h-4 transition-transform"
          fill="none" stroke="currentColor" stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
        </svg>
      </div>

      <ul 
        class="ml-4 mt-2 space-y-1" 
        [class.hidden]="!isReportDropdownOpen"
      >
        <li  (click)="onNavigate()" routerLink="/daily-sales" class="hover:bg-gray-400 p-2 rounded cursor-pointer">
          Daily Sales Summary</li>

        <li (click)="onNavigate()" class="hover:bg-gray-400 p-2 rounded cursor-pointer">
          Sales Report</li>

          <li (click)="onNavigate()" class="hover:bg-gray-400 p-2 rounded cursor-pointer">
         Sales by Cashier</li>
      </ul>
    </li>

    <li (click)="onLogout()" class=" lg:hidden hover:bg-gray-400 p-2 rounded cursor-pointer flex items-center space-x-3">
        <i class="fas fa-right-from-bracket text-xl"></i>
      <span>Log Out</span>
    </li>
  </ul>
</div>

<div class="fixed inset-0 bg-opacity-50 z-40 lg:hidden"
     *ngIf="isOpen$ | async"
     (click)="close()">
</div>
