<main class="flex-1 p-6 lg:ml-5 overflow-hidden">
  <div class="overflow-x-auto">
    <table
      class="w-full text-sm text-gray-700"
      style="border-collapse: separate; border-spacing: 0 6px; table-layout: fixed;"
    >
      <thead class="bg-[#f3f4f6] text-gray-800 font-semibold rounded-lg">
        <tr>
          <th class="px-4 py-3 break-words text-center">Table Number</th>
          <th class="px-4 py-3 break-words text-center">New Order</th>
          <th class="px-4 py-3 text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let table of tableList"
            class="transition transform hover:scale-105 hover:shadow-lg duration-200 bg-white rounded-lg">
          <td class="text-center">{{ table.tableNumber }}</td>
          <td class="text-center">
            <button *ngIf="newOrdersCountMap[table.tableNumber] > 0"
                    [routerLink]="['/receive-order', table.tableNumber]"
                    class="text-green-600 text-2xl hover:text-green-800"
                    title="View Order">
              🛎️
            </button>
            <span *ngIf="!newOrdersCountMap[table.tableNumber] || newOrdersCountMap[table.tableNumber] === 0"
                  class="text-gray-400 italic">
              No new orders
            </span>
          </td>
          <td class="text-center">
           <button (click)="onDeleteTable(table.id)"
          class="text-red-600 hover:text-red-800 text-xl"
          title="Delete Table">
        🗑️
        </button>
       </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
